body {
    background-image: url(imagens/fundoespaco.jpg);
}

#titulo {
    font-style: italic;
    color: azure;
    }
#paragrafo {
    color: rgb(255, 246, 195);
}
#botao {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(251, 255, 0);
}
#botao1 {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(112, 112, 38);
}

#paragrafo1 {
  font-style: initial;
  font-family: 'Rubik Moonrocks', cursive;
  font-family: 'The Nautigal', cursive;
  color: rgb(250, 56, 169);
}

#paragrafo2 {
  font-style: initial;
  font-family: 'Rubik Moonrocks', cursive;
  font-family: 'The Nautigal', cursive;
  color: rgb(247, 222, 236);
}
